html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ====================================== */


:root{
    --black: #0D0D0D;
    --white: #F2F2F2;
    --med-blue: #7ABFBF;
    --lt-blue: rgba(122,191,191,0.5);
    --orange: #EB5428;
    
}

h1, h2, h3, nav a, nav span, .socials li, footer, #headicons p{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

p, dd, li, nav, input{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

dt{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h1{
    font-size: 40px;
    text-wrap: nowrap;
    padding-bottom: 20px;
}

#headicons{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 85px;
    box-shadow: 1.7px 3.4px 3.4px hsl(0deg 0% 0% / 0.45);
}

#headicons div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wbgh{
    background-color: var(--white);
}

.wbgh svg{
    stroke: var(--orange);
}

.obgh{
    background-color: var(--orange);
}

.searchh1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchh1 input{
    border: 2px solid var(--orange);
}

#search{
    display: flex;
    margin: 20px 0px;
}
#search input{
    padding: 10px 7em;
}
#search svg{
    fill: var(--orange);
    stroke: var(--white);
    background-color: var(--orange);
}

nav li{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: var(--orange);
    padding-bottom: 10px;
    font-size: 20px;
}

nav img{
    width: 100%;
    max-width: 100%;
}


h2{
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
}

h3{
    font-size: 25px;
}

.text{
    margin: 10px;
    line-height: 1.5;
}

.text1{
    padding-bottom: 20px;
}

dl{
    margin-left: 10px;
}

dt, dd{
    display: inline-block;
    margin: 10px 0;
}

dd{
    padding-left: 15px;
}

.ingredients{
    list-style-type: square;
    margin-left: 20px;
    padding: 5px;
}

.ingredients li{
    padding: 10px;
}

.sides{
    width: 100%;
    background-color: var(--med-blue);

}

.sides h2{
    padding: 10px 0;
}

.socials ul{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}
.socials li{
    font-size: 20px;
    color: var(--orange);
}

footer{
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

footer img{
    width: 50%;
    height: auto;
    margin: 20px 0px;
}

#tacoguy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ol { 
    list-style: none; 
    counter-reset: num; 
} 

ol li { 
    counter-increment: num; 
    padding: 10px;
    line-height: 1.5em;
} 

ol li::before { 
    content: counter(num) ". "; 
} 

.recipes{
    display: flex;
}

.sugg{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sugg img{
    margin: 10px;
    width: 100px;
    height: auto;

}

.sugginfo{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.sugginfo h3{
    margin-bottom: 10px;
}

.sugginfo p{
    margin-bottom: 5px;
}

.bold{
    font-weight: bold;
}



